body{
    background-color: rgb(35, 35, 36);
}

.head{
    margin: 20px 0px;
    display: flex; 
    flex-direction: row-reverse;
}

h1{
    color: #FFF;
    font-size: 2.8rem;
    text-align: center;
    margin: 0px;
}



.back{

    margin: 10px 10px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: none;
    

}

.back:hover{
    width: 50px;
    border-radius: 15px;
    animation-duration: 2s;
}



input{
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    border-radius: 7px;
    width: 120px;
    margin: 10px 0px 0px 25px;
    border: solid 2px rgb(185, 185, 185);
}



.dateField label{
    text-align: center;
}

.dateField{
    display: flex;
    flex-direction: column;
    justify-content: center; 
}



label{
    color: #FFF;
    font-weight: bold;
    font-size: 1.2rem;
    width: 120px;
    margin: 10px 0px 0px 25px;
}

.unit{

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.add{
    
    width: 250px;
    margin: 10px 0px 0px 25px;
    border: solid 1px #FFF;
    border-radius: 10px;
    height: 50px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: bold;
    background: linear-gradient(to bottom, #336600 0%,#034d03 100% );
}

.exp{
    
    width: 250px;
    margin: 10px 0px 0px 25px;
    border: solid 1px #FFF;
    border-radius: 10px;
    height: 50px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: bold;
    background: linear-gradient(to bottom, #7c949b 0%,#333141 100% );
}

.exp-hiden{
    display: none;
    width: 250px;
    margin: 10px 0px 0px 25px;
    border: none;
    border-radius: 5px;
    height: 50px;
    color: #FFF;
    font-size: 1rem;
    
    background-color: #4a494b;
}

.exp-hiden:hover{
    background-color: #403f41;
}

.exp-action{

    width: 250px;
    margin: 10px 0px 25px 25px;
    border: solid 1px #FFF;
    border-radius: 10px;
    height: 50px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: bold;
    background: linear-gradient(to bottom, #2b2b42 0%,#6956e6 100% );
}


.btn-home{
    width: 250px;
    margin: 10px 0px 0px 25px;
    border: solid 1px #FFF;
    border-radius: 10px;
    height: 50px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: bold;
    background: linear-gradient(to bottom, #1d333a 0%,#2a659c 100% );
}


/* tabela */

table{
    align-items: center;
    width: 100%;
    margin: 25px 25px;
    display: block;
    margin-bottom: 150px;
   
}

tbody {
    height: 600px;
    display: inline-block;
    width: 100%;
    overflow: auto;
}

th{
    text-align: center;
    padding: 5px 0px;
    background-color: #FFF;
    border: solid 2px rgb(78, 77, 100);
    font-weight: bold;
    font-size: 1.2rem;
    width: 120px;
    

}

td{
    text-align: center;
    padding: 5px 0px;
    border: solid 3px rgb(118, 118, 124);
    font-weight: bold;
    font-size: 1.2rem;
    width: 150px;
    

}


#table tbody tr:nth-child(odd){
    background-color: #FFF;
}
#table tbody tr:nth-child(even){
    background-color: #CCC;
}


/* end table */



.nameEmployee #employee{
    width: 50%;
}

.nameEmployee{
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.nameEmployee label{
    width: 50%;
    margin: 35px 0px 0px 30px;
    font-size: 1.5rem;
}

.edit{
    display: flex;
}

.element{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 20px;
}

.element label {
    text-align: center;
}

tr{
    transition:all .25s ease-in-out
}



tr:hover td{ 
    color: #FFF;
    background:rgb(54, 53, 65); 
    cursor: pointer;
}

#input{
   display: none;
}

.label-input{

    padding: 20px 0px;
    
    text-align: center;
    
    width: 300px;
    border: solid 1px #FFF;
    border-radius: 10px;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: bold;
    background: linear-gradient(to bottom, #7c949b 0%,#333141 100% );
}


.card{
    align-items: center;
    display: flex;
    width: 100%;
    color: #000;
    padding: 10px 0px;
    border-radius: 10px;
}

.card label{
    color: #000;
}

.card h3{
    font-size: 1.5rem;
    margin-left: 30px;
}

.pos{
    justify-content: center;
    color: #FFF;
    width: 250px;
    margin: 10px 20px;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: #284147;
}

.pos label{
    color: #FFF;
}

.pos h3{

    text-align: center;
    font-size: 2.5rem;
}

.neg{
    color: #FFF;
    width: 250px;
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 10px;
    background-color: rgb(68, 68, 68);
}

.neg label{
    color: #FFF;
}

.neg h3{
    text-align: center;
    font-size: 2.5rem;
}


.card-control{

    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px 25px;
    border-radius: 10px;
    
    background-color: rgb(41, 41, 44);
}

.choose{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(41, 41, 44);
}

.card-box{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    color: #000;
    padding: 10px 0px;
    border-radius: 15px;
    background-color: rgb(41, 41, 44);
}

.card-control label {

    display: block;
    padding-top: 5px;
    width: 300px;
    padding-left: 15px;
    text-indent: -15px;
  }
.card-control input {
    width: 15px;
    height: 15px;
    padding: 0;
    margin:0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
  }

  .hours-select{
    text-align-last:center;
    align-items: center;
    margin: 10px 25px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
  }

.sat{
    display: none;
}

.sat2{
    display: block;
}




@-webkit-keyframes anim-footer{
    from{
        background-color: #000000;
    }

    to{
        background-color: #122019;
    }
}

@keyframes anim-footer{
    from{
        background-color: #000000;
    }

    to{
        background-color: #122019;
    }
}



.footer{
    margin-top: 25px;
    width: 100%;
    height: 50px;
    padding-top: 10px;
    position: fixed;
    bottom: 0;
    left: 0;
    
    background-color: #000000;
    animation: anim-footer 5s 5s infinite alternate;
}

.footer h3{
    padding-right: 25px;
    text-align: right;
    color: #FFF;
}

#dvData{
    margin-bottom: 20px;
}

.actions{
    display: flex;
}
  
.actions input{
    width: 250px;
}

input{
    width: 200px;
}


h1{
    margin: 25px 0px;
}

.btn-choose{
    display: flex;
    flex-direction: column;
}

.btn-choose input{
    width: 250px;
    margin-bottom: 15px;
}

.btn-choose label{
    width: 250px;
}
